{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">

        <div class="header">
            <div><a href="/enrollment">Кнопочка Кости</a></div>
        </div>

        <div class="content">
            <div class="repair">
                <h1>Закрыты на ремонт. Заходите позже. </h1>
                <img src={% static "img/vk_group_cover.jpg" %}>
            </div>
        </div>

        <div class="footer">
            <hr> &copy;&nbsp;2020 <a href="https://vk.com/fasschool" target="_blank">FAS</a>
        </div>

    </div>
</body>
</html>